<!DOCTYPE html>
<html>
<style>

.center{
  padding: 5%;
  text-align: center;
}
img{
  width: 180px;
  height:180px;
}
.bg{
  /* background-color:#48D1CC; */
  background-repeat: no-repeat;
  /* min-height:100%; */

  background-size: cover;
}
.bg-white{
  background-color: white ;
  opacity: 0.8;
  margin: 10%;


}


</style>
<head>
  <title>Create Form</title>
</head>
<body class="bg"background="../img/bg.jpg">
  <div class="bg-white">
    <div class="center">
  <img src="../img/userpic.png"/>
  {% load crispy_forms_tags %}
  {% crispy form %}
</div>
</div>
</body>
</html>
